@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Outfit", system-ui;
}

/* =============================Running-Page============================== */

.pg{
   display: flex;
   width: 100vw;
   .right{
    width: calc(100vw - 288px);
    background-color: #f2f3f7;

   }
}

/* ============================Side-bar=================================== */
.side-bar {
    height: 100vh;
    width: 288px;
    background-color: #0b0b45;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 1em;
        header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            img {
                width: 40px;
            }
        }
        .sideContent {
            padding-top: 2em;
            margin-left: -40px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1em;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    list-style: none;
                    a {
                        font-weight: 300;
                        font-size: 1.25em;
                        text-decoration: none;
                        color: white;
                    }
                    .side {
                        width: 10px;
                        height: 70px;
                        background-color: transparent;
                        border-radius: 0px 15px 15px 0px;
                    }
                    .ln {
                        display: flex;
                        gap: 1em;
                        color: #ffffff;
                        padding: 0.8em 2em;
                        border-radius: 10px;
                        cursor: pointer;
                        width: 140px;
                    }
                }
                li.active {
                    .side {
                        background-color: #ffffff;
                    }
                    .ln {
                        background-color: #ffffff;
                        color: #0b0b45;
                    }
                }
                li:hover {
                    background-color: transparent;
                    cursor: pointer;
                    transition: background-color 0.3s ease, border 0.3s ease;
                    .side {
                        width: 10px;
                        height: 70px;
                        background-color: #ffffff;
                        border-radius: 0px 15px 15px 0px;
                    }
                    .ln {
                        background-color: #ffffff;
                        color: #0b0b45;
                    }
                }
            }
        }
    }
    .Logout {
        padding-bottom: 2em;
        ul {
            li {
                display: flex;
                gap: 1em;
                list-style: none;
                padding-bottom: 1em;
                font-weight: 300;
                font-size: 1.25em;
                cursor: pointer;
                .ln {
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
}




/* ==============================TopNav=========================== */

.topNav{
   
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    .search-back{
        display: flex;
        align-items: center;
        gap: 1em;
        .search{
            width: 400px;
            height: 25px;
            background-color: #f5f6fa;
            border-radius: 50px;
            display: flex;
            gap: 10px;
            padding: 10px;
            img{
                width: 20px;
            }
            input{
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }
    .profile{
        display: flex;
        align-items: center;
        gap: 1em;
    }
}